.avator {
    width: 100px;
    padding: 10px 0px 10px 10px;
    user-select: none;
    .avatorBox {
        width: 80px;
        height: 80px;
        border: 1px solid $white;
        border-radius: 80px;
    }
    .imgLegible {
        width: 80px;
        height: 80px;
        border-radius: 80px;
        position: absolute;
        z-index: 1;
        user-select: none;
    }
    .imgBlur {
        width: 80px;
        height: 80px;
        border-radius: 80px;
        position: absolute;
        z-index: 1;
        transition: filter 0.15s ease-in-out;
        filter: blur(2px);
        user-select: none;
    }
    .changeButton {
        width: 60px;
        height: 20px;
        margin-left: 10px;
        font-size: 14px;
        background-color: #fff;
        border: 1px solid #000;
        position: absolute;
        top: 50px;
        left: 20px;
        z-index: 2;
        transform: translateZ(5px);
/*         visibility: hidden; */
        cursor: pointer;
    }
}
