.editIndex {
    width: calc(#{$full-vw} - 60px);
    height: $full-vh;
    float: left;
    overflow-x: hidden;
}
.editAndPreview {
    width: auto;
    //width: calc(#{$full-vw} - 270px);
    height: 100%;
    //background-color: rgba($color: #eef0ed, $alpha: 1);
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
}
.edit {
    background-color: rgba($color: #eef0ed, $alpha: 1);
    overflow-x: hidden;
    overflow-y: scroll;
    flex: 1;
}
.bottomBtn {
    height: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover .addBlock {
        visibility: visible;
    }
    &:hover .submitEdit {
        visibility: visible;
    }
    &:hover .dividingLine {
        visibility: visible;
    }
}

.dividingLine {
    flex-grow: 1;
    visibility: hidden;
    hr {
        border: 1px dashed $teal;
    }
}
.addBlockContainer,
.submitEditContainer {
    width: 60px;
    display: inline-flex;
    outline: 1px solid transparent;
}
.addBlock {
    @include edit_bottom_btn();
}
.submitEdit {
    @include edit_bottom_btn();
}
