.editIndex {
    width: calc(#{$full-vw} - 60px);
    height: $full-vh;
    box-sizing: border-box;
    border: 1px solid #000;
    float: left;
    padding: 0px 20px;
    overflow-y: scroll;
}

.bottomBtn {
    width: calc(#{$full-vw} - 100px);
    height: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover .addBlock {
        visibility: visible;
    }
    &:hover .submitEdit {
        visibility: visible;
    }
    &:hover .dividingLine {
        visibility: visible;
    }
}

.dividingLine {
    flex-grow: 1;
    visibility: hidden;
    hr {
        border: 1px dashed $teal;
    }
}
.addBlockContainer,
.submitEditContainer {
    width: 60px;
    display: inline-flex;
    outline: 1px solid transparent;
}
.addBlock {
    @include edit_bottom_btn();
}
.submitEdit {
    @include edit_bottom_btn();
}
