.editIndex {
    width: calc(#{$full-vw} - 60px);
    height: $full-vh;
    box-sizing: border-box;
    border: 1px solid #000;
    float: left;
    padding: 0px 20px;
}

.wordBlock {
    box-sizing: border-box;
    border-top: 1px solid #bababa;
    border-bottom: 1px solid #bababa;
    margin: 20px 0px;
    &:focus-within {
        background-color: $gray-300;
    }
    &::-webkit-input-placeholder {
        color: $gray-100;
    }
}

.inputContainer {
    margin: -1px;
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid #bababa;
    &:focus-within {
        color: $blue;
    }
    input {
        background: none;
        outline: none;
        border: 0px;
    }
}

.wordCount {
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    user-select: none;
    color: $black !important;
}

.englishInput {
    flex: auto;
    &:focus {
        color: $blue;
    }
}
.chineseInput {
    flex: auto;
    &:focus {
        color: $blue;
    }
}
