.fileView {
    height: 100%;
    float: left;
    position: relative;
    background-color: rgba($color: #eef0ed, $alpha: 1);
    overflow-x: hidden;
}
.foldList {
    width: 100%;
    height: 30px;
    background-color: $background-color;
/*     background-clip: padding-box;
    border-bottom: 2px dashed $background-color; */
    padding: 0px 10px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 400;
    color: $white;
    user-select: none;
    overflow: hidden;
    &:hover {
        span.icon-tianjiawenjian- {
            visibility: visible;
        }
    }
    span {
        margin-right: 5px;
        font-size: 16px;
        cursor: pointer;
    }
    span.icon-tianjiawenjian- {
        font-size: 20px;
        float: right;
        visibility: hidden;
        &:active {
            font-size: 24px;
        }
    }
}
.fileList {
    color: $teal;
    box-sizing: border-box;
    list-style: none;
    user-select: none;
    cursor: default;
    span {
        margin: 0px 5px;
    }
}
.indentation {
    height: 20px;
    width: 20px;
    display: inline-block;
}
.fileli {
    &:hover {
        background-color: $gray-300;
    }
    &:active {
        background-color: $gray-400;
    }
}

.fileViewControler {
    width: 10px;
    height: 100%;
    background-color: #eef0ed;
    border-left: 2px solid rgba($color: $background-color, $alpha: 1);
    /*border-right: 2px solid rgba($color: $teal, $alpha: 0.5); */
    box-sizing: border-box;
    float: left;
    position: relative;
    cursor: col-resize;
}
.newFileLi {
    display: flex;
    background-color: $gray-400;
    box-sizing: border-box;
    border: 1px solid $cyan;
    input {
        width: 100%;
        background-color: $gray-400;
        outline: none;
        border: 0px;
        flex: auto;
    }
}
