@import "./_variables.scss";
@import "./_mixin.scss";
@import "./_reboot.scss";

/* iconfont 样式 */
@import "../iconfont/navIcon/iconfont.css";
@import "../iconfont/wordlistIcon/iconfont.css";
@import "../iconfont//fileViewIcon//iconfont.css";
/* Nav 样式 */
@import "./Navbar.scss";
@import "./SearchBar.scss";

/* word page样式 */
@import "./Wordlist.scss";
@import "./Worditem.scss";
@import "./Worddetail.scss";

/* edit page样式 */
@import "./EditIndex.scss";
@import "./WordBlock.scss";
@import "./WordExplain.scss";
@import "./FileView.scss";
@import "./Preview.scss";

/* config page样式 */
@import "./RemerConfig.scss";
@import "./Avator.scss";

/* 自用 component 样式 */
@import "./Switch.scss";
.hide {
    display: none;
}
.App {
    //background-color: rgba($color: #eef0ed, $alpha: 1);
}
@media print {
    .noprint {
        display: none;
    }
    .print {
        width: 986px;
        margin: 0;
        border: 1px solid $black;
    }
}