.navbar {
    height: $full-vh;
    width: $navbar-width;
    background-color: $navbar-color;
    //background-color: $background-pink;
    color: $white;
    float: left;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
        text-decoration: none;
        color: inherit;
    }
}
.navItem {
    height: $navItem-height;
    width: $navItem-width;
    margin: 40px 0px 40px 0px;
    box-sizing: border-box;
    border-radius: $border-radius-lg;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
    flex-basis: 40px;
    &:hover {
        background-color: rgba($color: $black, $alpha: 0.1);
        transform: background-color 0.4s ease-in-out;
    }
}

.nav-icon {
    font-size: $h2-font-size;
    font-weight: $font-weight-iconfont;
    &:hover {
        font-size: $h1-font-size;
        transition: font-size 0.2s ease-in-out;
    }
}
