.navbar {
    width: 50px;
    float: left;
    position: relative;
    z-index: 10;
    /*     height: 100vh; */
    hr {
        margin: 0;
    }
    .avatorCircle {
        width: 120px;
        height: 120px;
        box-sizing: border-box;
        /*         border-right: 1px solid #9A9A9A;
        border-bottom: 1px solid #9A9A9A; 
        border-radius: 0px 0px 100px 0px;
        */
    }
}
