.preview {
    height: $full-vh;
    background-color: #eef0ed;
    //border-left: 2px solid rgba($color: $background-color, $alpha: 1);
    flex: 0 0 auto;
    user-select: none;
    display: flex;
}
.previewController {
    width: 10px;
    height: 100%;
    background-color: #eef0ed;
    border-right: 2px solid rgba($color: $background-color, $alpha: 1.0);
    box-sizing: border-box;
    float: left;
    position: relative;
    cursor: col-resize;
}
.previewContent{
    overflow-y: auto;
    overflow-x: hidden;
}
.preBlock {
    width: 300px;
    margin: 20px 20px 20px 10px;
    padding: 10px 0 20px 0;
    border: 1px solid $teal;
    box-sizing: border-box;
    background-color: #f2f2f7;
    //flex: 1 0 auto;
    float: left;
    position: relative;
}

.pre {
    &:hover {
        background-color: $yellow;
    }
    padding: 5px 20px;
}
.preBlockHead {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preEnglish {
    margin: auto;
}
.preChinese {
    margin: auto;
}
.preMeaning {
    font-size: 16px;
    font-weight: 500;
}
.preCollection {
    padding-left: 50px;
}
