.remerConfig {
    height: $full-vh;
    width: calc(#{$full-vw} - 60px);
    max-width: 600px;
    float: left;
    position: relative;
    background-color: $gray-200;
}

.profile {
    width: calc(100% - $navbar-width);
    height: 100px;
    border-bottom: 0.5px solid $gray-400;
    background-color: $gray-100;
    padding: 0px 0px 100px 10px;
    display: grid;
    grid-template-columns: 100px auto;
}

.username {
    height: 100%;
    line-height: 100px;
    padding-left: 10px;
    font-weight: $font-weight-normal;
    font-size: 18px;
}

.concreteConfig {
    background-color: $gray-100;
    margin: 10px 0px;
}

.configli {
    padding-right: 20px;
    @include configItem();
}

/* 具体的config item 样式, 其中子元素嵌套写 */
.radio-configli {
    //background-color: $orange;
}
.configliSwitch {
    float: right;
    position: relative;
    margin: 10px;
}
.anchor-configli {
    &:active {
        background-image: linear-gradient(90deg, darken($gray-300, 4%), darken($gray-200,4%), darken($gray-300, 4%));
    }
}
.configIcon {
    float: right;
    position: relative;
    color: darken($gray-500, 4%);
    margin-right: 10px;
    font-size: 16px;
    font-weight: $font-weight-bold;
}
.colorSelect-configli {
    //background-color: $indigo;
}
.btn-configli {
    &:active {
        background-image: linear-gradient(90deg, darken($gray-300, 4%), darken($gray-200,4%), darken($gray-300, 4%));
    }
}

.log {
    color: darken($red, 4%);
}
