.searchBar {
    float: right;
    position: absolute;
    left: $quarter-vw;
    z-index: 10;
    height: 40px;
    width: $half-vw;
    display: flex;
    margin: 2vh 20vw 0 0;
    border: 1px solid #9a9a9a;
    border-radius: $border-radius-normal;
    background-color: #ffffff;
    user-select: none;
}
.searchInput {
    outline: none;
    width: $half-vw;
    border: none;
    border-radius: $border-radius-normal;
    font-size: 20px;
    font-weight: $font-weight-lighter;
    padding-left: 20px;
    caret-color: #1177b0;
}
.iconfont.icon-search.search-icon {
    transform: translateY(-10px);
    font-size: 40px;
    cursor: pointer;
}
