//word explain 样式
.explainContainer {
    @include edit_input_mixin();
    list-style: none;
    li {
        list-style-type: none;
    }
}

.wordExplain {
    display: flex;
}
.addExplain {
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    user-select: none;
}

.deleteIcon {
    height: 10px;
    width: 30px;
    border-radius: 10px;
    margin: 15px 5px 0px 5px;
    line-height: 30px;
    box-sizing: border-box;
    font-size: 24px;
    text-align: center;
    //line-height: 30px;
    user-select: none;
    opacity: 0;
    &:hover{
        opacity: 1;
        border: 1px solid $background-color;
    }
}
.setCollection {
    display: block;
}